#edit-story{
  position: absolute;
  left: 27%;
  width: 70%;
  padding: 15px;
  margin-top: 15px;
  background-color: #4E9033;
  font-family: $defaultFont;
  box-shadow: 3px 3px 25px black;
  h2{
    font-size: 1em;
    span{
      font-size: 2em;
      background-color: #7DB445;
      padding: 7px;
    }
  }
}
