header{
  display: block;
  margin: auto;
  width: 200px;
}

#login{
  display: block;
  margin: auto;
  width: 200px;
}

form{
  display: block;
  margin: auto;
  width: 50px;
}

#mainNav, #create-story, #edit-story, #story-list {
    display: none;
}
